<h2>Input Forms (Child Component Input)</h2>

<form [formGroup]="userForm" (ngSubmit)="submit()">
    <div class="formName">
        <label for="name">
            Name:
            <input type="text" formControlName="name" />
        </label>
        <div *ngIf="userForm.get('name')?.invalid && userForm.get('name')?.touched" class="error-text">
            Please fill your name
        </div>
        <div *ngIf="userForm.get('name')?.errors?.['minlength'] && userForm.get('name')?.touched" class="error-text">
            Nama harus minimal 3
        </div>

    </div>

    <div class="formAge">
        <label for="age">
            Age:
            <input type="text" formControlName="age" />
        </label>
        <div *ngIf="userForm.get('age')?.invalid && userForm.get('age')?.touched" class="error-text">
            Please fill your age
        </div>
        <div *ngIf="userForm.get('age')?.errors?.['age']">
            Harus format age
        </div>
    </div>

    <div class="formJob">
        <label for="job">
            Job:
            <input type="text" formControlName="job" />
        </label>
        <div *ngIf="userForm.get('job')?.invalid && userForm.get('job')?.touched" class="error-text">
            Please fill your job
        </div>
        <div *ngIf="userForm.get('job')?.errors?.['job']">
            Harus format Job
        </div>
    </div>

    <div class="formDate">
        <label for="tanggalPengajuan">
            Tanggal Pengajuan:
            <input type="date" formControlName="tanggalPengajuan" />
        </label>
        <div *ngIf="userForm.get('tanggalPengajuan')?.invalid && userForm.get('tanggalPengajuan')?.touched"
            class="error-text">
            Harap isi tanggal pengajuan
        </div>
    </div>

    <button type="submit" [disabled]="userForm.invalid">Tambah kreditur baru</button>
</form>